In [1]:
import pandas as pd

In [2]:
dat = pd.read_csv('./results_rf_s_covariance.csv')

In [3]:
dat

,p1,p2,p3,p4,p5,objective,elapsed_sec
0,,,16,16,50,0.000944,7.140297
1,#pragma clang loop(j2) pack array(data) alloca...,"#pragma clang loop(i1,j1,k1,i2,j2) interchange...",128,8,128,0.001093,15.605021
2,,"#pragma clang loop(i1,j1,k1,i2,j2) interchange...",20,100,128,0.001079,22.804928
3,,"#pragma clang loop(i1,j1,k1,i2,j2) interchange...",64,20,50,0.000926,30.901447
4,,"#pragma clang loop(i1,j1,k1,i2,j2) interchange...",100,2048,4,0.000124,38.910408
...,...,...,...,...,...,...,...
195,#pragma clang loop(j2) pack array(data) alloca...,,100,8,16,0.000767,1771.983934
196,,"#pragma clang loop(i1,j1,k1,i2,j2) interchange...",80,80,4,0.000124,1781.582455
197,#pragma clang loop(j2) pack array(data) alloca...,,8,2048,4,0.000106,1792.369398
198,,,32,64,64,0.000947,1800.876751
199,#pragma clang loop(j2) pack array(data) alloca...,"#pragma clang loop(i1,j1,k1,i2,j2) interchange...",20,100,32,0.000738,1809.554963

In [7]:
### cpu

cols = ['p1', 'p2']             ## xsbench cpu
# cols = ['p1', 'p2', 'p3', 'p4', 'p5', 'p6'] ## xsbench gpu
# cols = ['p2', 'p3', 'p7', 'p8']             ## rsbench cpu
# cols = ['p1', 'p2', 'p3', 'p4', 'p5'] ## rsbench gpu
# cols = ['p1', 'p2', 'p3', 'p4', 'p5', 'p6', 'p7'] ## sw4lite gpu
for col in cols:
    dat[col] = dat[col].astype('category')
for col in cols:
    dat[col] = dat[col].cat.codes

In [8]:
dat.corr()

,p1,p2,p3,p4,p5,objective,elapsed_sec
p1,1.000000,0.076031,-0.046741,-0.070646,0.039458,0.166988,-0.144145
p2,0.076031,1.000000,-0.087257,0.055201,0.213473,0.252137,-0.129067
p3,-0.046741,-0.087257,1.000000,0.179245,-0.050530,-0.047941,-0.198047
p4,-0.070646,0.055201,0.179245,1.000000,0.065725,0.110265,-0.360348
p5,0.039458,0.213473,-0.050530,0.065725,1.000000,0.724271,-0.000551
objective,0.166988,0.252137,-0.047941,0.110265,0.724271,1.000000,-0.105139
elapsed_sec,-0.144145,-0.129067,-0.198047,-0.360348,-0.000551,-0.105139,1.000000

In [9]:
dat

     p1  p2   p3    p4   p5  objective  elapsed_sec
0     0   0   16    16   50   0.000944     7.140297
1     1   1  128     8  128   0.001093    15.605021
2     0   1   20   100  128   0.001079    22.804928
3     0   1   64    20   50   0.000926    30.901447
4     0   1  100  2048    4   0.000124    38.910408
..   ..  ..  ...   ...  ...        ...          ...
195   1   0  100     8   16   0.000767  1771.983934
196   0   1   80    80    4   0.000124  1781.582455
197   1   0    8  2048    4   0.000106  1792.369398
198   0   0   32    64   64   0.000947  1800.876751
199   1   1   20   100   32   0.000738  1809.554963

[200 rows x 7 columns]

In [10]:
cor = dat.corr()

In [16]:
cor

,p1,p2,p3,p4,p5,objective,elapsed_sec
p1,1.000000,0.076031,-0.046741,-0.070646,0.039458,0.166988,-0.144145
p2,0.076031,1.000000,-0.087257,0.055201,0.213473,0.252137,-0.129067
p3,-0.046741,-0.087257,1.000000,0.179245,-0.050530,-0.047941,-0.198047
p4,-0.070646,0.055201,0.179245,1.000000,0.065725,0.110265,-0.360348
p5,0.039458,0.213473,-0.050530,0.065725,1.000000,0.724271,-0.000551
objective,0.166988,0.252137,-0.047941,0.110265,0.724271,1.000000,-0.105139
elapsed_sec,-0.144145,-0.129067,-0.198047,-0.360348,-0.000551,-0.105139,1.000000

p1             0.166988
p2             0.252137
p3            -0.047941
p4             0.110265
p5             0.724271
objective      1.000000
elapsed_sec   -0.105139
Name: objective, dtype: float64

In [28]:
for idx, row in cor['objective'].iterrows():
    print(row.

AttributeError: 'Series' object has no attribute 'iterrows'